<a href="https://colab.research.google.com/github/kikiru328/enterprise_analysis/blob/main/Net_Abs_col_variation_pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pickle5

Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 5.2 MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp37-cp37m-linux_x86_64.whl size=219330 sha256=8eb97ed53bcbf80d1b7a0284892db6077cbf33f58d20f42482aeca4352a1a635
  Stored in directory: /root/.cache/pip/wheels/7e/6a/00/67136a90d6aca437d806d1d3cedf98106e840c97a3e5188198
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
import pickle5 as pickle

with open("/content/drive/MyDrive/5조/매출감소고객_예측모델_변수생성/total_df2_rank.pkl",'rb') as f:
  total_df = pickle.load(f)

In [ ]:
total_df

        고객번호 성별      연령대    거주지역  ...  Recency_1  Recency_2  Recency_3  target
0          1  M    60세이상  서울 강남구  ...          8          8          2       1
1          2  M    60세이상  경기 김포시  ...          8          8          1       0
2          3  M    60세이상  서울 은평구  ...          8          5          5       1
3          4  F    60세이상  서울 노원구  ...          5          8          8       1
4          5  M    60세이상  경기 김포시  ...          8          2          1       1
...      ... ..      ...     ...  ...        ...        ...        ...     ...
19080  19356  F  40세~44세  경기 김포시  ...          8          8          8       0
19081  19357  F  40세~44세  대전 유성구  ...          3          5          5       0
19082  19359  M  50세~54세  경기 김포시  ...          3          8          5       0
19083  19360  F  45세~49세  서울 강서구  ...          2          3          5       0
19084  19364  F  25세~29세  인천 계양구  ...          1          8          8       0

[19085 rows x 95 columns]

In [ ]:
lateradd = total_df.iloc[:,:4]
change_df = total_df.iloc[:,4:-1]
change_df.columns

Index(['wdys_ratio_1', 'wdys_ratio_2', 'wdys_ratio_3', 'mor_ratio_1',
       'mor_ratio_2', 'mor_ratio_3', 'A_ratio_1', 'A_ratio_2', 'A_ratio_3',
       'B_ratio_1', 'B_ratio_2', 'B_ratio_3', 'C_ratio_1', 'C_ratio_2',
       'C_ratio_3', 'D_ratio_1', 'D_ratio_2', 'D_ratio_3', 'H1_가공식품_구매금액_r',
       'H2_가공식품_구매금액_r', 'H3_가공식품_구매금액_r', 'H1_가구/인테리어_구매금액_r',
       'H2_가구/인테리어_구매금액_r', 'H3_가구/인테리어_구매금액_r', 'H1_교육/문화용품_구매금액_r',
       'H2_교육/문화용품_구매금액_r', 'H3_교육/문화용품_구매금액_r', 'H1_기타_구매금액_r',
       'H2_기타_구매금액_r', 'H3_기타_구매금액_r', 'H1_디지털/가전_구매금액_r', 'H2_디지털/가전_구매금액_r',
       'H3_디지털/가전_구매금액_r', 'H1_명품_구매금액_r', 'H2_명품_구매금액_r', 'H3_명품_구매금액_r',
       'H1_신선식품_구매금액_r', 'H2_신선식품_구매금액_r', 'H3_신선식품_구매금액_r', 'H1_의류_구매금액_r',
       'H2_의류_구매금액_r', 'H3_의류_구매금액_r', 'H1_일상용품_구매금액_r', 'H2_일상용품_구매금액_r',
       'H3_일상용품_구매금액_r', 'H1_전문스포츠/레저_구매금액_r', 'H2_전문스포츠/레저_구매금액_r',
       'H3_전문스포츠/레저_구매금액_r', 'H1_패션잡화_구매금액_r', 'H2_패션잡화_구매금액_r',
       'H3_패션잡화_구매금액_r', 'H1_가공식품_r', 'H2_가공식품_r', 'H3_가공식품_r', 'H1_가구/인테리어_r',
       'H2_가구/인테리어_r', 'H3_가구/인테리어_r', 'H1_교육/문화용품_r', 'H2_교육/문화용품_r',
       'H3_교육/문화용품_r', 'H1_기타_r', 'H2_기타_r', 'H3_기타_r', 'H1_디지털/가전_r',
       'H2_디지털/가전_r', 'H3_디지털/가전_r', 'H1_명품_r', 'H2_명품_r', 'H3_명품_r',
       'H1_신선식품_r', 'H2_신선식품_r', 'H3_신선식품_r', 'H1_의류_r', 'H2_의류_r', 'H3_의류_r',
       'H1_일상용품_r', 'H2_일상용품_r', 'H3_일상용품_r', 'H1_전문스포츠/레저_r', 'H2_전문스포츠/레저_r',
       'H3_전문스포츠/레저_r', 'H1_패션잡화_r', 'H2_패션잡화_r', 'H3_패션잡화_r', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'Recency_1', 'Recency_2', 'Recency_3'],
      dtype='object')

In [ ]:
group_col =[]

for i in range(int(len(change_df.columns)/3)):
  group_col.append(list(change_df.columns[i*3:i*3+3]))

In [ ]:
group_col

[['wdys_ratio_1', 'wdys_ratio_2', 'wdys_ratio_3'],
 ['mor_ratio_1', 'mor_ratio_2', 'mor_ratio_3'],
 ['A_ratio_1', 'A_ratio_2', 'A_ratio_3'],
 ['B_ratio_1', 'B_ratio_2', 'B_ratio_3'],
 ['C_ratio_1', 'C_ratio_2', 'C_ratio_3'],
 ['D_ratio_1', 'D_ratio_2', 'D_ratio_3'],
 ['H1_가공식품_구매금액_r', 'H2_가공식품_구매금액_r', 'H3_가공식품_구매금액_r'],
 ['H1_가구/인테리어_구매금액_r', 'H2_가구/인테리어_구매금액_r', 'H3_가구/인테리어_구매금액_r'],
 ['H1_교육/문화용품_구매금액_r', 'H2_교육/문화용품_구매금액_r', 'H3_교육/문화용품_구매금액_r'],
 ['H1_기타_구매금액_r', 'H2_기타_구매금액_r', 'H3_기타_구매금액_r'],
 ['H1_디지털/가전_구매금액_r', 'H2_디지털/가전_구매금액_r', 'H3_디지털/가전_구매금액_r'],
 ['H1_명품_구매금액_r', 'H2_명품_구매금액_r', 'H3_명품_구매금액_r'],
 ['H1_신선식품_구매금액_r', 'H2_신선식품_구매금액_r', 'H3_신선식품_구매금액_r'],
 ['H1_의류_구매금액_r', 'H2_의류_구매금액_r', 'H3_의류_구매금액_r'],
 ['H1_일상용품_구매금액_r', 'H2_일상용품_구매금액_r', 'H3_일상용품_구매금액_r'],
 ['H1_전문스포츠/레저_구매금액_r', 'H2_전문스포츠/레저_구매금액_r', 'H3_전문스포츠/레저_구매금액_r'],
 ['H1_패션잡화_구매금액_r', 'H2_패션잡화_구매금액_r', 'H3_패션잡화_구매금액_r'],
 ['H1_가공식품_r', 'H2_가공식품_r', 'H3_가공식품_r'],
 ['H1_가구/인테리어_r', 'H2_가구/인테리어_r', 'H3_가구/인테리어_r'],
 ['H1_교육/문화용품_r', 'H2_교육/문화용품_r', 'H3_교육/문화용품_r'],
 ['H1_기타_r', 'H2_기타_r', 'H3_기타_r'],
 ['H1_디지털/가전_r', 'H2_디지털/가전_r', 'H3_디지털/가전_r'],
 ['H1_명품_r', 'H2_명품_r', 'H3_명품_r'],
 ['H1_신선식품_r', 'H2_신선식품_r', 'H3_신선식품_r'],
 ['H1_의류_r', 'H2_의류_r', 'H3_의류_r'],
 ['H1_일상용품_r', 'H2_일상용품_r', 'H3_일상용품_r'],
 ['H1_전문스포츠/레저_r', 'H2_전문스포츠/레저_r', 'H3_전문스포츠/레저_r'],
 ['H1_패션잡화_r', 'H2_패션잡화_r', 'H3_패션잡화_r'],
 ['Frequency_1', 'Frequency_2', 'Frequency_3'],
 ['Recency_1', 'Recency_2', 'Recency_3']]

In [ ]:
import pandas as pd
changed_df = pd.DataFrame()
changed_df

Empty DataFrame
Columns: []
Index: []

In [ ]:
columns = []
for index ,cols in enumerate(group_col):
  if index <6:
    colname = cols[0][:-2]
  elif index <28:
    colname = cols[0][3:]
  else:
    colname = cols[0][:-2]
  columns.append(colname)
columns

['wdys_ratio',
 'mor_ratio',
 'A_ratio',
 'B_ratio',
 'C_ratio',
 'D_ratio',
 '가공식품_구매금액_r',
 '가구/인테리어_구매금액_r',
 '교육/문화용품_구매금액_r',
 '기타_구매금액_r',
 '디지털/가전_구매금액_r',
 '명품_구매금액_r',
 '신선식품_구매금액_r',
 '의류_구매금액_r',
 '일상용품_구매금액_r',
 '전문스포츠/레저_구매금액_r',
 '패션잡화_구매금액_r',
 '가공식품_r',
 '가구/인테리어_r',
 '교육/문화용품_r',
 '기타_r',
 '디지털/가전_r',
 '명품_r',
 '신선식품_r',
 '의류_r',
 '일상용품_r',
 '전문스포츠/레저_r',
 '패션잡화_r',
 'Frequency',
 'Recency']

In [ ]:
total

In [ ]:
import pandas as pd
changed_df = pd.DataFrame()
changed_df


group_col =[]

for i in range(int(len(change_df.columns)/3)):
  group_col.append(list(change_df.columns[i*3:i*3+3]))

columns = []
for index ,cols in enumerate(group_col):
  if index <6:
    colname = cols[0][:-2]
    
  elif index <28:
    colname = cols[0][3:]
  else:
    colname = cols[0][:-2]
  columns.append(colname)

for index, cols in enumerate(group_col):
  get_cols = change_df[cols]
  col1=get_cols.iloc[:,0]
  col2=get_cols.iloc[:,1]
  col3=get_cols.iloc[:,2]
  NetDiff = col3-col1
  AbsDiffsum = np.abs(col2-col1) + np.abs(col3-col2)
  changed_df[f'{columns[index]}_Net'] = NetDiff
  changed_df[f'{columns[index]}_abs'] = AbsDiffsum

changed_df

       wdys_ratio_Net  wdys_ratio_abs  ...  Recency_Net  Recency_abs
0                  -1               3  ...           -6            6
1                  -1               7  ...           -7            7
2                   1               1  ...           -3            3
3                   3               3  ...            3            3
4                   0               4  ...           -7            7
...               ...             ...  ...          ...          ...
19080               7               7  ...            0            0
19081              -3               3  ...            2            2
19082               3               3  ...            2            8
19083              -8               8  ...            3            3
19084              -1               3  ...            7            7

[19085 rows x 60 columns]

In [ ]:
pd.concat([lateradd , changed_df] , axis=1)

In [ ]:
total_df[lateradd.columns]

        고객번호 성별      연령대    거주지역
0          1  M    60세이상  서울 강남구
1          2  M    60세이상  경기 김포시
2          3  M    60세이상  서울 은평구
3          4  F    60세이상  서울 노원구
4          5  M    60세이상  경기 김포시
...      ... ..      ...     ...
19080  19356  F  40세~44세  경기 김포시
19081  19357  F  40세~44세  대전 유성구
19082  19359  M  50세~54세  경기 김포시
19083  19360  F  45세~49세  서울 강서구
19084  19364  F  25세~29세  인천 계양구

[19085 rows x 4 columns]

In [ ]:
changed_df = changed_df[['고객번호','성별', '연령대', '거주지역','wdys_ratio_Net', 'wdys_ratio_abs', 'mor_ratio_Net', 'mor_ratio_abs',
       'A_ratio_Net', 'A_ratio_abs', 'B_ratio_Net', 'B_ratio_abs',
       'C_ratio_Net', 'C_ratio_abs', 'D_ratio_Net', 'D_ratio_abs',
       '가공식품_구매금액_r_Net', '가공식품_구매금액_r_abs', '가구/인테리어_구매금액_r_Net',
       '가구/인테리어_구매금액_r_abs', '교육/문화용품_구매금액_r_Net', '교육/문화용품_구매금액_r_abs',
       '기타_구매금액_r_Net', '기타_구매금액_r_abs', '디지털/가전_구매금액_r_Net',
       '디지털/가전_구매금액_r_abs', '명품_구매금액_r_Net', '명품_구매금액_r_abs',
       '신선식품_구매금액_r_Net', '신선식품_구매금액_r_abs', '의류_구매금액_r_Net', '의류_구매금액_r_abs',
       '일상용품_구매금액_r_Net', '일상용품_구매금액_r_abs', '전문스포츠/레저_구매금액_r_Net',
       '전문스포츠/레저_구매금액_r_abs', '패션잡화_구매금액_r_Net', '패션잡화_구매금액_r_abs',
       '가공식품_r_Net', '가공식품_r_abs', '가구/인테리어_r_Net', '가구/인테리어_r_abs',
       '교육/문화용품_r_Net', '교육/문화용품_r_abs', '기타_r_Net', '기타_r_abs',
       '디지털/가전_r_Net', '디지털/가전_r_abs', '명품_r_Net', '명품_r_abs', '신선식품_r_Net',
       '신선식품_r_abs', '의류_r_Net', '의류_r_abs', '일상용품_r_Net', '일상용품_r_abs',
       '전문스포츠/레저_r_Net', '전문스포츠/레저_r_abs', '패션잡화_r_Net', '패션잡화_r_abs', 'Frequency_Net', 'Frequency_abs', 'Recency_Net', 'Recency_abs','target']]

In [ ]:
import pickle5 as pickle
with open(f'/content/drive/MyDrive/5조/매출감소고객_예측모델_변수생성/total_df_rank_pattern.pkl', 'wb') as f:
    pickle.dump(changed_df, f)

['고객번호',
 '성별',
 '연령대',
 '거주지역',
 'wdys_ratio_Net',
 'wdys_ratio_abs',
 'mor_ratio_Net',
 'mor_ratio_abs',
 'A_ratio_Net',
 'A_ratio_abs',
 'B_ratio_Net',
 'B_ratio_abs',
 'C_ratio_Net',
 'C_ratio_abs',
 'D_ratio_Net',
 'D_ratio_abs',
 '가공식품_구매금액_r_Net',
 '가공식품_구매금액_r_abs',
 '가구/인테리어_구매금액_r_Net',
 '가구/인테리어_구매금액_r_abs',
 '교육/문화용품_구매금액_r_Net',
 '교육/문화용품_구매금액_r_abs',
 '기타_구매금액_r_Net',
 '기타_구매금액_r_abs',
 '디지털/가전_구매금액_r_Net',
 '디지털/가전_구매금액_r_abs',
 '명품_구매금액_r_Net',
 '명품_구매금액_r_abs',
 '신선식품_구매금액_r_Net',
 '신선식품_구매금액_r_abs',
 '의류_구매금액_r_Net',
 '의류_구매금액_r_abs',
 '일상용품_구매금액_r_Net',
 '일상용품_구매금액_r_abs',
 '전문스포츠/레저_구매금액_r_Net',
 '전문스포츠/레저_구매금액_r_abs',
 '패션잡화_구매금액_r_Net',
 '패션잡화_구매금액_r_abs',
 '가공식품_r_Net',
 '가공식품_r_abs',
 '가구/인테리어_r_Net',
 '가구/인테리어_r_abs',
 '교육/문화용품_r_Net',
 '교육/문화용품_r_abs',
 '기타_r_Net',
 '기타_r_abs',
 '디지털/가전_r_Net',
 '디지털/가전_r_abs',
 '명품_r_Net',
 '명품_r_abs',
 '신선식품_r_Net',
 '신선식품_r_abs',
 '의류_r_Net',
 '의류_r_abs',
 '일상용품_r_Net',
 '일상용품_r_abs',
 '전문스포츠/레저_r_Net',
 '전문스포츠/레저_r_abs',
 '패션잡화_r_Net',
 '패션잡화_r_abs',
 'Frequency_Net',
 'Frequency_abs',
 'Recency_Net',
 'Recency_abs',
 'target']

In [ ]:
#   PCA 하기

In [ ]:
!pip install pickle5

Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 2.8 MB/s
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp37-cp37m-linux_x86_64.whl size=219327 sha256=1fd265a2e53739af6393103735188cbeae8432aedad0eb752b9ed57d0c196c96
  Stored in directory: /root/.cache/pip/wheels/7e/6a/00/67136a90d6aca437d806d1d3cedf98106e840c97a3e5188198
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [ ]:
import pickle5 as pickle
with open(f'/content/drive/MyDrive/5조/매출감소고객_예측모델_변수생성/total_df_rank_pattern.pkl', 'rb') as f:
    total_df = pickle.load(f)

In [ ]:
total_df.columns

Index(['고객번호', '성별', '연령대', '거주지역', 'wdys_ratio_Net', 'wdys_ratio_abs',
       'mor_ratio_Net', 'mor_ratio_abs', 'A_ratio_Net', 'A_ratio_abs',
       'B_ratio_Net', 'B_ratio_abs', 'C_ratio_Net', 'C_ratio_abs',
       'D_ratio_Net', 'D_ratio_abs', '가공식품_구매금액_r_Net', '가공식품_구매금액_r_abs',
       '가구/인테리어_구매금액_r_Net', '가구/인테리어_구매금액_r_abs', '교육/문화용품_구매금액_r_Net',
       '교육/문화용품_구매금액_r_abs', '기타_구매금액_r_Net', '기타_구매금액_r_abs',
       '디지털/가전_구매금액_r_Net', '디지털/가전_구매금액_r_abs', '명품_구매금액_r_Net',
       '명품_구매금액_r_abs', '신선식품_구매금액_r_Net', '신선식품_구매금액_r_abs', '의류_구매금액_r_Net',
       '의류_구매금액_r_abs', '일상용품_구매금액_r_Net', '일상용품_구매금액_r_abs',
       '전문스포츠/레저_구매금액_r_Net', '전문스포츠/레저_구매금액_r_abs', '패션잡화_구매금액_r_Net',
       '패션잡화_구매금액_r_abs', '가공식품_r_Net', '가공식품_r_abs', '가구/인테리어_r_Net',
       '가구/인테리어_r_abs', '교육/문화용품_r_Net', '교육/문화용품_r_abs', '기타_r_Net',
       '기타_r_abs', '디지털/가전_r_Net', '디지털/가전_r_abs', '명품_r_Net', '명품_r_abs',
       '신선식품_r_Net', '신선식품_r_abs', '의류_r_Net', '의류_r_abs', '일상용품_r_Net',
       '일상용품_r_abs', '전문스포츠/레저_r_Net', '전문스포츠/레저_r_abs', '패션잡화_r_Net',
       '패션잡화_r_abs', 'Frequency_Net', 'Frequency_abs', 'Recency_Net',
       'Recency_abs', 'target'],
      dtype='object')