In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf
# 런타임 다시시작

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

In [ ]:
import pandas as pd
data = pd.read_pickle('/content/drive/MyDrive/1차팀플/dataset/1008등급폭_net(수정).pkl')

In [ ]:
# da2 = da2.drop(['성별','연령대','주요구매시간대'],axis=1)
da2.to_pickle('/content/drive/MyDrive/1차팀플/dataset/x_test_독립변수.pkl')

In [ ]:
data = pd.read_pickle('/content/drive/MyDrive/1차팀플/dataset/새분류.pkl')

In [ ]:
index = da2.reset_index()['index']

In [ ]:
g = data.groupby(['고객번호','년','분기'])['구매금액'].agg(['sum'])
g = g.reset_index()

import numpy as np

g['1,2,3,4분기'] = np.nan

cond =(g['년'] == 2014)&(g['분기'] == 1)
df = g[cond]  #['전기/후기'] = '전기'
df.loc[:,'1,2,3,4분기']= '1분기'
cond1 =(g['년'] == 2014)&(g['분기'] == 2)
df1 = g[cond1]  #['전기/후기'] = '전기'
df1.loc[:,'1,2,3,4분기']= '1분기'

cond2 =(g['년'] == 2014)&(g['분기'] == 3)
df2 = g[cond2]  #['전기/후기'] = '전기'
df2.loc[:,'1,2,3,4분기']= '2분기'
cond3 =(g['년'] == 2014)&(g['분기'] == 4)
df3 = g[cond3]
df3.loc[:,'1,2,3,4분기']= '2분기'

cond4 =(g['년'] == 2015)&(g['분기'] == 1)
df4 =  g[cond4]
df4.loc[:,'1,2,3,4분기']= '3분기'
cond5 =(g['년'] == 2015)&(g['분기'] == 2)
df5 =  g[cond5]
df5.loc[:,'1,2,3,4분기']= '3분기'

cond6 =(g['년'] == 2015)&(g['분기'] == 3)
df6 =  g[cond6]
df6.loc[:,'1,2,3,4분기']= '4분기'
cond7 =(g['년'] == 2015)&(g['분기'] == 4)
df7 =  g[cond7]
df7.loc[:,'1,2,3,4분기']= '4분기'

In [ ]:
data_3 = pd.concat([df4,df5])
data_4 = pd.concat([df6,df7])
data_3

         고객번호     년  분기       sum 1,2,3,4분기
4           1  2015   1   9302985       3분기
12          2  2015   1  18481480       3분기
20          3  2015   1    279310       3분기
28          4  2015   1   1737292       3분기
36          5  2015   1   2124430       3분기
...       ...   ...  ..       ...       ...
153876  19379  2015   2   1264900       3분기
153881  19380  2015   2    351120       3분기
153885  19381  2015   2   1672421       3분기
153889  19382  2015   2   1040340       3분기
153892  19383  2015   2     27000       3분기

[38598 rows x 5 columns]

In [ ]:
data_3 = data_3.groupby('고객번호').agg({'sum':'sum'})
data_4 = data_4.groupby('고객번호').agg({'sum':'sum'})

In [ ]:
data_3.columns=['sum3']
data_4.columns=['sum4']

In [ ]:
sum3_4 = pd.concat([data_3,data_4],axis=1)
sum3_4 = sum3_4.fillna(0)
sum3_4['3분기총'] = sum3_4['sum3'].sum()
sum3_4['4분기총'] = sum3_4['sum4'].sum()

In [ ]:
# 고객별4-3/고객별1분기총/4분기총-3분기총/1분기총

In [ ]:
sum3_4['증감계산'] = ((sum3_4['sum4']-sum3_4['sum3'])/sum3_4['sum3'])/((sum3_4['4분기총']-sum3_4['3분기총'])/sum3_4['3분기총'])

In [ ]:
sum3_4

             sum3        sum4          3분기총          4분기총         증감계산
고객번호
1      17898365.0  13102518.0  1.692892e+11  1.781282e+11    -5.131888
2      27791610.0  25843820.0  1.692892e+11  1.781282e+11    -1.342312
3        592280.0    679118.0  1.692892e+11  1.781282e+11     2.808070
4       3656937.0   3737257.0  1.692892e+11  1.781282e+11     0.420660
5       2934930.0   2616260.0  1.692892e+11  1.781282e+11    -2.079546
...           ...         ...           ...           ...          ...
19379   2395920.0   2192740.0  1.692892e+11  1.781282e+11    -1.624179
19380    837950.0   2552327.0  1.692892e+11  1.781282e+11    39.184420
19381   2797171.0   3243498.0  1.692892e+11  1.781282e+11     3.056042
19382   1826739.0   2575034.0  1.692892e+11  1.781282e+11     7.845517
19383     27000.0   2357400.0  1.692892e+11  1.781282e+11  1653.072529

[19368 rows x 5 columns]

In [ ]:
def make_01(x):
  if x >= 0: 
    x = 1
  elif x < 0 : 
    x = 0
  return x

In [ ]:
sum3_4['증감'] = sum3_4['증감계산'].map(make_01)

In [ ]:
y_test = sum3_4[['증감']]

In [ ]:
cus = pd.DataFrame(index)

In [ ]:
cus.columns=['고객번호']

In [ ]:
# df = pd.merge(cus,y_test1, how='outer')
# df = df.fillna(0)

In [ ]:
df['증감'] = df['증감'].astype('int')
df = df.set_index('고객번호')

In [ ]:
df.to_pickle('/content/drive/MyDrive/1차팀플/dataset/y_test_종속변수.pkl')

In [ ]:
y_test1 = y_test.reset_index()