In [1]:
import pandas as pd

In [2]:
df_mem = pd.read_csv('../LOTT/멤버십여부.txt',sep=',',encoding='cp949')
df_mem.head()

   고객번호  멤버십명    가입년월
0    11  하이마트  201512
1    21  하이마트  201506
2    37  하이마트  201306
3    43  하이마트  201403
4    44  하이마트  201411

In [3]:
def data_info(df,null_count_standard): # 0 넣어줘야 전체 뽑힘
    display(df.head(2))
    print('[shape] : ',df.shape)
    print('[rows] : {} , [columns] : {}'.format(df.shape[0],df.shape[1]),'\n')
    print('[value_counts] : \n',df.dtypes.value_counts(),'\n')
    print('[columns] : ' ,df.columns,'\n')
    nl_v = df.isnull().sum()
    print('[Null_values] : ','\n',nl_v[nl_v>null_count_standard].sort_values(ascending=False))
    print('[Null_columns] : ','\n', list(nl_v[nl_v>null_count_standard].keys()))
    return

In [4]:
data_info(df_mem,0)

   고객번호  멤버십명    가입년월
0    11  하이마트  201512
1    21  하이마트  201506

[shape] :  (7456, 3)
[rows] : 7456 , [columns] : 3

[value_counts] :
 int64     2
object    1
dtype: int64

[columns] :  Index(['고객번호', '멤버십명', '가입년월'], dtype='object')

[Null_values] :
 Series([], dtype: int64)
[Null_columns] :
 []

In [5]:
def col_info(df):
    print('[columns] : ' ,df.columns,'\n')
    for column in df.columns:
        print("[",column,"]\n")
        print(" -unique : ", df[column].unique())
        print(" -nunique : ", df[column].nunique())
        print(" -type : ", df[column].dtypes,'\n')
    return

In [6]:
col_info(df_mem)

[columns] :  Index(['고객번호', '멤버십명', '가입년월'], dtype='object')

[ 고객번호 ]

 -unique :  [   11    21    37 ... 19380 19381 19383]
 -nunique :  6498
 -type :  int64

[ 멤버십명 ]

 -unique :  ['하이마트' '다둥이' '롭스' '더영']
 -nunique :  4
 -type :  object

[ 가입년월 ]

 -unique :  [201512 201506 201306 201403 201411 201312 201404 201406 201311 201503
 201412 201508 201310 201402 201510 201410 201502 201308 201309 201407
 201504 201511 201405 201501 201505 201507 201401 201408 201409 201509
 201307 201303 201304 201305 201302 201210 201301 201211 201212]
 -nunique :  39
 -type :  int64

- 멤버쉽;
    - L-point 를 사용하는 카드들.
    - 하이마트 / 롭스 / 더 영/ 다둥이
    
    - 다둥이카드 (롯데마트 2015년도)

In [8]:
# 다둥이카드
# https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=chunja0313&logNo=220476964990